<app-header></app-header>

<section class="hero">
    <div class="hero-inner">
        <h2>Encuentra fácil el talento que buscas</h2>
        <p>¡Ahorra tiempo y cubre rápido tus vacantes con ChoWork! Comunícate y da feedback en tiempo real en el
            marketplace de talento que ofrece una experiencia única a tus candidatos.</p>
        <div class="stats">
            <span>+1000 clientes</span>
            <span>+3.5M De Maliciosos Indigenas</span>
        </div>
    </div>
    <div class="hero-images">
        <img src="../assets/imgs/imgs3.jpg" alt="TI">
        <img src="../assets/imgs/imgs8.avif" alt="TI">
        <img src="../assets/imgs/imgs7.jpeg" alt="TI">
        <img src="../assets/imgs/imgs4.jpg" alt="TI">
        <img src="../assets/imgs/imgs1.jpg" alt="TI">
        <img src="../assets/imgs/imgs2.jpg" alt="TI">
        <img src="../assets/imgs/imgs5.jpg" alt="TI">
        <img src="../assets/imgs/imgs6.jpg" alt="TI">
        <img src="../assets/imgs/imgs9.png" alt="TI">
    </div>
</section>


<section>
    <section class="logos-section">
        <h2>Algunas empresas que contratan con ChoWork</h2>
        <div class="logos-container">
            <img src="../assets/imgs/logo_empresa1.png" alt="Meta" width="100">
            <img src="../assets/imgs/logo_empresa2.png" alt="Amazon">
            <img src="../assets/imgs/logo_empresa3.png" alt="Microsoft">
            <img src="../assets/imgs/logo_empresa4.png" alt="Nvidia">
            <img src="../assets/imgs/logo_empresa5.png" alt="Apple">
            <img src="../assets/imgs/logo_empresa6.png" alt="Sony">
            <img src="../assets/imgs/logo_empresa7.png" alt="Intel">
        </div>
    </section>
</section>

<!-- Third main section offering choices to start with -->
<section class="choice-section">
    <div class="choice-container">
        <h2>¡Elige una opción y empieza!</h2>
        <p>Selecciona la mejor opción según tus necesidades.</p>
        <div class="cards-container">
            <div class="card">
                <p>Publica con ChoWork</p>
                <p>Crea tu cuanta ya sea Empresarial o Personal. Publica en ChoWork.</p>
                <button routerLink="/signin" class="btn-create-account">Crear Empresa O Personal</button>
                <button routerLink="/getEmpresa">Empresas registradas</button>
            </div>
            <div class="card">
                <p>¿Buscas Talento o Trabajo?</p>
                <p>Esta pagina es todo lo que buscabas. ¿Que estás esperando?</p>
                <img src="../assets/imgs/logo2.png" alt="Logo" width="100">
            </div>
        </div>
        <p class="footnote">Esta una herramienta que te permite tener usuarios como Empresa y cuentas Personales en ChoWork, ideal para empresas buscan
            talento piromaniatico o personas en busca de ofertas de empleo.</p>
    </div>
</section>

<!-- Fourth main section for testimonials -->
<section class="testimonial-section">
    <div class="testimonial-header">
        <h2>Clientes satisfechos</h2>
        <p>“Recomiendo a cualquier empresa que pruebe ChoWork, está agilizando nuestros procesos de selección y nos está
            generando más de 20 altas al año. Además, hemos contratado a nuestro Responsable de Tecnologias de
            Información gracias a esta Pagina Web.”</p>
    </div>
    <div class="cliente-images">
        <img src="../assets/imgs/cliente.webp" alt="Cliente">
    </div>
</section>

<!-- Fifth main section for contact information -->
<section class="contact-section">
    <div class="contact-container">
        <div class="contact-info">
            <h2>Contáctenos</h2>
            <p><strong>Correo:</strong> choworkgmail.com </p>
            <p><strong>Admins:</strong> Dorian, Keneth, Lindsay, Bairon</p>
            <p><strong>Dirección:</strong> El Roble, ubicado contiguo a las instalaciones de Coope Roble R.L.</p>
        </div>
        <div class="contact-icon">
            <img src="../assets/imgs/logo2.png" alt="ChoWork" />
        </div>
    </div>
</section>

