<!-- Title of the webpage -->
<title>¿Buscas talento? Publica tus ofertas de empleo</title>

<!-- Header section -->
<header>
    <div class="header-container">
        <div class="logo-container">
            <!-- Logo image -->
            <img src="assets/imgs/logo1.png" alt="Logo" width="40">
            <!-- Company name -->
            <span class="logo">ChoWork</span>
        </div>
        <div class="header-right">
            <nav>
                <ul>
                    <li><a routerLink="/ofertaEmpresa" class="post-offer">Publicar Oferta</a></li>
                    <li><a routerLink="/aplicantesEmpresa">Aplicantes</a></li>
                    <li><a routerLink="/perfilEmpresa">Perfil</a></li>
                    <li><a routerLink="/">CERRAR SESION</a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>

<!-- First main section -->
<section class="hero">
    <div class="hero-inner">
        <h2>Encuentra fácil el talento que buscas</h2>
        <p>¡Ahorra tiempo y cubre rápido tus vacantes con ChoWork! Comunícate y da feedback en tiempo real en el
            marketplace de talento que ofrece una experiencia única a tus candidatos.</p>
        <div class="stats">
            <span>+1000 clientes</span>
            <span>+3.5M De Maliciosos Indigenas</span>
        </div>
        <button routerLink="/ofertaEmpresa" class="btn hero-btn">Publicar Oferta</button>
    </div>
    <div class="hero-images">
        <img src="assets/imgs/imgs3.jpg" alt="TI">
        <img src="assets/imgs/imgs8.avif" alt="TI">
        <img src="assets/imgs/imgs7.jpeg" alt="TI">
        <img src="assets/imgs/imgs4.jpg" alt="TI">
        <img src="assets/imgs/imgs1.jpg" alt="TI">
        <img src="assets/imgs/imgs2.jpg" alt="TI">
        <img src="assets/imgs/imgs5.jpg" alt="TI">
        <img src="assets/imgs/imgs6.jpg" alt="TI">
        <img src="assets/imgs/imgs9.png" alt="TI">
    </div>
</section>

<!-- Second main section showcasing partner logos -->
<section>
    <section class="logos-section">
        <h2>Algunas empresas que contratan con ChoWork</h2>
        <div class="logos-container">
            <img src="assets/imgs/logo_empresa1.png" alt="Meta" width="100">
            <img src="assets/imgs/logo_empresa2.png" alt="Amazon">
            <img src="assets/imgs/logo_empresa3.png" alt="Microsoft">
            <img src="assets/imgs/logo_empresa4.png" alt="Nvidia">
            <img src="assets/imgs/logo_empresa5.png" alt="Apple">
            <img src="assets/imgs/logo_empresa6.png" alt="Sony">
            <img src="assets/imgs/logo_empresa7.png" alt="Intel">
        </div>
    </section>
</section>

<!-- Third main section offering choices to start with -->
<section class="choice-section">
    <div class="choice-container">
        <h2>¡Elige una opción y empieza!</h2>
        <p>Selecciona la mejor opción según las características de tu empresa.</p>
        <div class="cards-container">
            <div class="card">
                <p>Gestionar Oferta de Trabajo</p>
                <p>Aqui podras gestionar tus ofertas de trabajo y poder visualizar tus aplicantes de trabajo.</p>
                <button routerLink="/ofertaEmpresa">Gestionar Ofertas</button>
                <button routerLink="/aplicantesEmpresa">Ver Aplicantes</button>
            </div>
            <div class="card">
                <p>Gestionar Perfil</p>
                <p>Aqui podras gestionar tu perfil.</p>
                <button routerLink="/perfilEmpresa">Ver Perfil</button>
            </div>
        </div>
        <p class="footnote">Esto una herramienta que te permite publicar ofertas en ChoWork, ideal para empresas
            buscan talento piromaniatico.</p>
    </div>
</section>

<!-- Fourth main section for testimonials -->
<section class="contact-section">
    <div class="contact-container">
        <div class="contact-info">
            <h2>Contáctenos</h2>
            <p><strong>Teléfono:</strong> 8713-2907 & 8363-1540</p>
            <p><strong>Admins:</strong> Dorian Humaña & Bairon Vega</p>
            <p><strong>Dirección:</strong> El Roble, ubicado contiguo a las instalaciones de Coope Roble R.L.
            </p>
        </div>
        <div class="contact-icon">
            <img src="assets/imgs/logo2.png" alt="ChoWork" />
        </div>
    </div>
</section>




