<header>
    <div class="header-container">
        <div class="logo-container">
            <!-- Logo image -->
            <img src="../assets/imgs/logo1.png" alt="Logo" width="40" >
            <!-- Company name -->
            <span class="logo">ChoWork</span>
        </div>
        <!-- Header text asking if the user is looking for talent -->
        <div class="talent-search">¿Buscas talento o trabajo? Nuestros indigenas maliciosos aún no lo saben</div>
        <div class="header-right">
            <nav>
                <ul>
                    <li><a routerLink="/signin" >Registrar</a></li>
                    
                   <li><a routerLink="/login">Iniciar Sesión</a></li>
                    
                </ul>
            </nav>
        </div>
    </div>
</header>
